In [8]:
print("Hello CatterPillar")

Hello CatterPillar

## SetUp

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DataSet and Threshold dataset already cleaned

In [28]:
#reading dataset
file_path = 'datasets/dataset.xlsx'
measurements_df = pd.read_excel(file_path)

In [29]:
measurements_df.head()

,Id,Time,Machine,Component,Parameter,Value
0,48,2022-06-03 08:09:29,Excavator_1,Engine,Temparature,104.0
1,5,2022-05-12 02:05:42,Articulated_Truck_1,Fuel,Water in Fuel,70.0
2,24,2022-05-27 06:25:04,Articulated_Truck_1,Engine,Temparature,104.0
3,23,2022-05-12 20:36:47,Backhoe_Loader_1,Drive,Transmission Pressure,231.0
4,42,2022-06-28 04:06:30,Excavator_1,Engine,Oil Pressure,39.0

In [30]:
#reading threshold dataset
file_path2 = 'datasets/threshold.xlsx'
thresholds_df = pd.read_excel(file_path2)
thresholds_df.head()

               Parameter              Treshold Probability of Failure
0    Engine Oil Pressure       Low 25, High 65                   High
1           Engine Speed             High 1800                 Medium
2     Engine Temparature              High 105                   High
3          Brake Control                 Low 1                 Medium
4  Transmission Pressure  Low 200 and High 450                 Medium

# Merging the dataset with common column - "Parameter"

In [33]:
merged_df = pd.merge(measurements_df, thresholds_df, on = 'Parameter')
merged_df.head()

,Id,Time,Machine,Component,Parameter,Value,Treshold,Probability of Failure
0,23,2022-05-12 20:36:47,Backhoe_Loader_1,Drive,Transmission Pressure,231.000000,Low 200 and High 450,Medium
1,1,2022-06-28 01:17:39,Articulated_Truck_1,Drive,Brake Control,2.000000,Low 1,Medium
2,39,2022-05-13 03:23:02,Excavator_1,Drive,Pedal Sensor,4.533982,High 4.7,Low
3,26,2022-06-09 02:21:39,Articulated_Truck_1,Drive,Pedal Sensor,3.900000,High 4.7,Low
4,2,2022-06-01 21:02:41,Articulated_Truck_1,Misc,Exhaust Gas Temparature,190.000000,High 365,High