In [8]:
print("Hello CatterPillar")

Hello CatterPillar

## SetUp

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DataSet and Threshold dataset already cleaned

In [19]:
#reading dataset
file_path = 'dataset.xlsx'
df = pd.read_excel(file_path)

In [20]:
df.head()

,Id,Time,Machine,Component,Parameter,Value
0,48,2022-06-03 08:09:29,Excavator_1,Engine,Temparature,104.0
1,5,2022-05-12 02:05:42,Articulated_Truck_1,Fuel,Water in Fuel,70.0
2,24,2022-05-27 06:25:04,Articulated_Truck_1,Engine,Temparature,104.0
3,23,2022-05-12 20:36:47,Backhoe_Loader_1,Drive,Transmission Pressure,231.0
4,42,2022-06-28 04:06:30,Excavator_1,Engine,Oil Pressure,39.0